asyncio==3.4.3
bumpversion==0.5.3
cloudant==2.10.0
coverage==5.0.3
flake8==3.5.0
gmqtt==0.6.3
ibmiotf==0.4.0
influxdb==5.2.0
jaeger-client==3.13.0
pip==20.0.2
pycrypto==2.6.1
pytest-asyncio==0.10.0
pytest==5.4.1
sphinx_rtd_theme==0.4.2
Sphinx==1.7.1
tox==3.14.3
twine==1.12.1
uvloop==0.14.0
watchdog==0.8.3
wheel==0.32.0
wiotp-sdk==0.11.0